{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Matheus Barbosa" />
    <meta name="description" content="Desafio Técnico M2A, ponto eletrônico" />
    <meta name="keywords" content="M2A, Ponto Eletrônico, Desafio Técnico" />
    <meta name="github" content="/souzera" />
    <meta name="linkedin" content="/in/matheus-bsouza/" />

    <link
      rel="shortcut icon"
      href="{% static 'images/favicon.ico' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <title>M2A Pointer</title>
  </head>

  <body class="center vertical">
    <header>
      <a href="/">
        <img id="header-img" src="{% static 'images/icon.svg' %}" alt="ícone" width="100" />
      </a>
      <h1>Bem-vindo ao M2A Pointer</h1>
      <nav>
        <ul class="center" >
          <li><a href="">Início</a></li>
          <li><a href="">Login</a></li>
          <li><a href="/register">Registrar</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="hero">
        <div class="hero-content  text-center">
          <h2>Sistema de Ponto Eletrônico</h2>
          <p>
            Gerencie o ponto eletrônico dos funcionários de forma fácil e
            eficiente.
          </p>
          <a href="/register">Comece Agora</a>
        </div>
      </section>

      <section class="text-center">
        <h2>Sobre o Projeto</h2>
        <p>
          Este é um sistema de ponto eletrônico desenvolvido como parte do
          Desafio Técnico M2A.
        </p>
        <p>Utilize o menu acima para navegar pelo sistema.</p>
      </section>
    </main>

    <footer>
      <p>
        &copy; <span id="ano-atual"></span> Matheus Barbosa. Todos os direitos
        reservados.
      </p>
    </footer>

    <!-- SCRIPTS -->
    <script>
      // Atualizar ANO no Rodapé
      document.addEventListener("DOMContentLoaded", function () {
        var yearSpan = document.getElementById("ano-atual");
        var currentYear = new Date().getFullYear();
        yearSpan.textContent = currentYear;
      });
    </script>
  </body>
</html>
