{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Matheus Barbosa" />
    <meta name="description" content="Desafio Técnico M2A, ponto eletrônico" />
    <meta name="keywords" content="M2A, Ponto Eletrônico, Desafio Técnico" />
    <meta name="github" content="/souzera" />
    <meta name="linkedin" content="/in/matheus-bsouza/" />

    <link
      rel="shortcut icon"
      href="{% static 'images/favicon.ico' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <title>M2A Pointer</title>
  </head>
  <body style="padding-inline: 10vw">
    <header class="center space-between">
      <h1>M2A Pointer</h1>
      <nav>
        <ul>
          <li><a href="/dashboard">Home</a></li>
          <li><a href="/logout">Sair</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section>

        <div class="center space-between">
          <h2>Olá, {{ funcionario.nome }}</h2>
        </div>
  
        <div class="center space-between">
          <h3>Empresa: {{empresa.nome}}</h3>
          <div class="center" style="gap: 24px">
            <h3 id="selected-date"></h3>
            <input type="date" id="input-date" name="date" />
          </div>
        </div>
      </section>

      <section>
        <table >
          <thead>
            <tr>
              <th>Funcionário</th>
              <th>Entrada</th>
              <th>Saída</th>
            </tr>
          </thead>
          <tbody>
            {% for ponto in pontos %}
            <tr>
              <td>{{ ponto.funcionario.nome }}</td>
              <td>{{ ponto.entrada}}</td>
              <td>{{ ponto.saida|default_if_none:"--" }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
    </main>

    <script src="{% static 'js/format-date.js' %}"></script>
    <script>
      const inputDate = document.getElementById("input-date");
      const selectedDate = document.getElementById("selected-date");

      inputDate.addEventListener("change", (event) => {
        const [ano, mes, dia] = event.target.value.split("-");
        selectedDate.innerText = `Data: ${dia.toString().padStart(2, "0")}/${mes
          .toString()
          .padStart(2, "0")}/${ano}`;
      });
    </script>
  </body>
</html>
